<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Chic et unique</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="../css/pageFrame.css">
	<link rel="stylesheet" href="../css/shoppingBag.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.3/imask.js"></script>
</head>


<body>
	<%- include('header.ejs') %>
		<main>
			<div class="container mt-4">
				<h3 id="shopping_bag_title">Shopping Bag:</h3>
				<hr>
				<div id="products_container">
					<% for (let i=0; i < ShoppingBagProducts.length; i++) { const product=ShoppingBagProducts[i]; %>
						<div class="row mb-2 shopping-bag-item" data-product-id="<%=product.id%>">
							<img class="col-2 product_img" src="<%=product.imgUrl%>">
							<p class="col-6">
								<b class="product-name">
									<%= product.name %>
								</b>
								<br>
								Description:
								<br>
								<%= product.description %>
							</p>
							<p class="col-2">
								<b>Price:</b>
								<br>
								<span class="product-price" data-ils="<%= product.price %>">
									<%= product.price %> ₪
								</span>
								<br>
								<b>
									<% if(product.isAvailable==false) {%>
										<label class="sold_out_label">
											Sold Out! Please delete from the shopping cart before paying
										</label>
										<% } %>
								</b>
							</p>
							<button id="<%=product.id%>" class="delete_icon_button col-1">
								<i class="bi bi-trash icons"></i>
							</button>
						</div>
						<hr>
						<%}%>
				</div>
			</div>
			<div id="emptyBag_div">
				<%if(ShoppingBagProducts.length==0){%>
					<p class="text-center">Shopping Bag is empty!</p>
					<%}%>
			</div>
			<div id="payNow_div">
				<%if(ShoppingBagProducts.length!=0){%>
					<b><label>Total Price:&nbsp;<span class="product-price" data-ils="<%=TotalPrice%>">
								<%=TotalPrice%> ₪
							</span> </label></b>
					<button id="pay_now_button" type="button" class="btn pay_button" data-bs-toggle="modal"
						data-bs-target="#payNowForm">
						Pay now
					</button>
					<br>
					<label class="pay-now-label">By clicking on Pay now your sold out items will be deleted
						automatically</label>
					<%}%>
			</div>

			<div class="modal fade" id="payNowForm" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content modal-content-pay">
						<div class="modal-header border-0">
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form action="/shoppingBag/addOrder" method="post">
							<div class="modal-body text-center">
								<h5 id="pay_title">Payment:</h5>
								<label>Card type:</label>
								<br>
								<% var types=["Visa", "Mastercard" , "American Express" , "Discover" , "Diners" ]; %>
									<select class="select_payment_card_type" id="card_type" name="cardType">
										<% for (var j=0; j < types.length; j++ ) { %>
											<option value="<%=  types[j] %>">
												<%= types[j] %>
											</option>
											<% } %>
									</select>
									<br>
									<label>Card number:</label>
									<br>
									<input id="card_number" type="text" name="cardNumber" class="pay_input">
									<br>
									<label>Card CVV number:</label>
									<br>
									<input id="card_cvv" type="text" name="cardCVV" class="pay_input">
									<br>
									<label>Expiration date:</label>
									<br>
									<input id="card_exp_date" type="text" name="expirationDate" class="pay_input">
									<br>
									<label>Owner full name:</label>
									<br>
									<input id="card_owner_full_name" type="text" name="ownerFullName" class="pay_input">
									<br>
									<label>Owner ID:</label>
									<br>
									<input id="card_owner_id" type="text" name="ownerId" class="pay_input">
									<br>
									<label>Contact Details:</label>
									<br>
									<select class="select_payment_contact_details" id="contact_details"
										name="contactDetails">
										<% for (var j=0; j < ContactDetails.length; j++ ) { %>
											<option value="<%= ContactDetails[j]._id %>">
												<%= ContactDetails[j].description %>
											</option>
											<% } %>
									</select>
							</div>
							<div class="modal-footer text-center">
								<div id="total_price_container">
									<b><label>Total Price:&nbsp;
											<span class="product-price" data-ils="<%=TotalPrice%>">
												<%=TotalPrice%> ₪
											</span>
										</label>
									</b>
								</div>
								<br>
								<div id="validation_message_label"></div>
								<br>
								<button id="pay-btn" type="button" class="btn btn-dark">Submit Payment</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>
		<%- include('footer.ejs') %>
			<script src="https://code.jquery.com/jquery-3.6.1.js"
				integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
				crossorigin="anonymous"></script>
			<script src="/js/pageFrame.js"></script>
			<script src="/js/common.js"></script>
			<script src="/js/shoppingBag.js"></script>

			<script id="productsTemplate" type="text/html">
				<div class="row mb-2 shopping-bag-item" data-product-id="{_id}">
					<img class="col-2 product_img" src="{imgUrl}">
					<p class="col-6"><b class="product-name">
							{name}
						</b>
						<br>
						Description:
						<br>
						{description}
					</p>
					<p class="col-2"><b>Price:</b>
						<br>
						<span class="product-price" data-ils="{price}">
							{price} ₪
						</span>
						<br>
						<b>
						<label class="{soldoutLabelClass}">{soldout}</label>
						</b>
					</p>
					<button id="{_id}" class="delete_icon_button col-1">
						<i class="bi bi-trash icons"></i>
					</button>
				</div>
				<hr>
			</script>
			<script id="emptyTemplate" type="text/html">
				<p class="text-center">Shopping Bag is empty!</p>
			</script>
			<script id="payNowTemplate" type="text/html">
				<b><label>Total Price:&nbsp;<span class="product-price" data-ils="{totalPrice}">
					{totalPrice} ₪
				</span> </label></b>
				<button id="pay_now_button" type="button" class="btn pay_button" data-bs-toggle="modal"
					data-bs-target="#payNowForm">
					Pay now
				</button>
				<br>
				<label class="pay-now-label">By clicking on Pay now your sold out items will be deleted
				automatically</label>
			</script>


			<script id="totalPriceTemplate" type="text/html">
				<b><label>Total Price:&nbsp;
						<span class="product-price" data-ils="{totalPrice}">
							{totalPrice} ₪
						</span>
					</label>
				</b>
			</script>

</body>

</html>